{% extends 'base.html.twig' %}

{% block title "Vehicule : "  %}


{% block body %}
	<h1>{{ vehicule.marque}}</h1>

	{{ form_start(form) }}
	<div class="d-flex flex-column">
		{{ form_row(form.marque) }}
		{{ form_row(form.modele) }}
	</div>
	{{ form_end(form) }}
{% endblock %}
