{% extends 'base.html.twig' %}

{% block title "Recette : " ~ recipe.title %}
{# {% block title %}Toutes les recettes!
{% endblock %} #}

{% block body %}{# {{ dump(app) }} #}

	{# lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate. #}
	{# {{ slug }}
				{{demo}}
				{{person.name}}
				{{person.name | upper ~ " " ~ person.age }} #}
	{# <h1>{{ recipe.title }}</h1>
	
	<p>{{recipe.content | nl2br}}</p> #}
{% endblock %}
