{% extends 'admin.html.twig' %}
{% block title %}Toutes les recettes!
{% endblock %}

{% block body %}

	<p>Lorem Ipsum
	</p>
	<p>
		<a class="btn btn-primary" href="{{ url('admin.vehicule.create') }}">Créer une nouvelle vehicule</a>
	</p>
	<table class='table'>
		<thead>
			<tr>
				<th>Titre</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<ul>
				{% for vehicule in vehicules %}
					<tr>
						<td>
							<a href="{{ url('admin.vehicule.show', {id: vehicule.id, slug: vehicule.slug}) }}">{{ vehicule.marque }}</a>
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url('admin.vehicule.edit', {id: vehicule.id}) }}">Editer</a>
							
							
							{# <a class="btn btn-secondary {{ app.current_route starts with 'admin.disponibilite.' ? 'active' : '' }}" href="{{ url("admin.disponibilite.create") }}">Disponibilite</a> #}
							
							
							<form action="{{ path('admin.vehicule.delete', {id: vehicule.id})}}" method="post" style="display: inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<button class="btn btn-danger" type="submit">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</ul>
		</tbody>
	</table>
{% endblock %}
