{% extends 'admin.html.twig' %}
{% block title %}Toutes les recettes!
{% endblock %}

{% block body %}

	<p></p>
	<p>
		<a class="btn btn-primary" href="{{ url('admin.recip.create') }}">Créer une nouvelle recette</a>
	</p>
	<table class='table'>
		<thead>
			<tr>
				<th>Titre</th>
				<th>Categorie</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<ul>
				{% for recipe in recipes %}
					<tr>
						<td>
							<a href="{{ url('admin.recip.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
						</td>
						<td>{{ recipe.category.name | default('') }}
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url('admin.recip.edit', {id: recipe.id}) }}">Editer</a>
							<form action="{{ path('admin.recip.delete', {id: recipe.id})}}" method="post" style="display: inline-block">
								<input type="hidden" name="_method" value="DELETE">
								<button class="btn btn-danger" type="submit">Supprimer</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</ul>
		</tbody>
	</table>
{% endblock %}
